body {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fdfdfd;
}

canvas {
    position: center;
    margin: auto;
}

.container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
}


body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Y2S3rB2/big-spinning-diamond-background_vkx5ylxywx__F0000.png");
    background-color: #cccccc;
}

canvas {
    width: 80%;
    margin: 0 auto;
}
