

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Y2S3rB2/big-spinning-diamond-background_vkx5ylxywx__F0000.png");
    background-color: #cccccc;
    /* 
    overflow: hidden;
    /*  Disable scrollbars */
    /* display: block; */
    /* No floating content on sides */

}
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px #D82257 dashed;
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    color: #D82257;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -240px;
}